
/*^^^^^^^ 엠비티아이 결과 페이지 ^^^^^^^^*/







.MBTI-ResultContainer {
    width: 1180px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.MBTI-MyMbti {
    height: 200px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1/2;
    margin: 0 auto 30px;
    background-color: #29335c;
    font-family: 'MaplestoryOTFBold';


}


.MBTI-MyMbti img {

    width: 120px;
    height: 120px;
    border-radius: 70%;
    overflow: hidden;
    object-fit: cover;
    margin: 15px auto;
}

.MBTI-MyMbti p {
    color: #66FF33;
    font-size: 40px;
    position: relative;
    bottom: 20px;
    font-weight: 900;
    left: 13px;
    font-family: 'MaplestoryOTFBold';

}

.MBTI-MyMbti td {
    min-width: 200px;
    position: relative;
    right: 70px;
    font-family: 'MaplestoryOTFBold';
}

.MBTI-MyMbti span {
    color: black;
    position: relative;
    bottom: 190px;
    left: 70px;
    font-family: 'MaplestoryOTFBold';
}

.MBTI-Character {

    color: whitesmoke;
    font-weight: 900;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    bottom: -30px;
    margin-bottom: 30px;
    font-family: 'MaplestoryOTFBold';

}

.MBTI-StyledButton {
    background: black;
    color: white;
    padding: 0.5rem;
    width: 500px;
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    background-color: skyblue;
    border-color: skyblue;
    transition: all .2s ea se-in-out;
    font-weight: 900;
    position: relative;
    margin: 20px auto 0;
    left: 100px;
    bottom: 20px;
    font-family: 'MaplestoryOTFBold';

}

.MBTI-StyledButton:hover {
    border-color: skyblue;
    font-size: 27px;
    cursor: pointer;
    opacity: 0.95;
    transition-duration: .5s;

}

.MBTI-StyledButton .arrow:hover {
    transform: translateX(10px);
    transition-duration: .5s;
}

.MBTI-StyledButton:active {
    transition-duration: .5s;
    transform: translateY(5px);

}

.MBTI-StyledButton .arrow {
    position: relative;
    top: 5px;

}
.MBTI-StyledButton span{
    position : relative;
    bottom:2px;
}

.MBTI-Mbtiment {
    text-align: center;
    font-size: 20px;

}

.MBTI-Mbtiment2 {
    text-align: center;
    color: red;
    font-size: 13px;
}

.MBTI-Underline {
    border-bottom: 2px groove black;
    width: 650px;
    margin: 0 auto;
    border-color: rgba(0, 0, 0, 0.2);

}

.MBTI-Recommend {
    display: flex;
    width: 700px;
    margin: 40px auto 0;
    font-family: 'MaplestoryOTFBold';
}

.MBTI-RecommendByOne {
    height: 170px;
    width: 170px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2/3;
    /* background-color: #6633FF; */
    position: relative;
    padding: 20px;
    font-family: 'MaplestoryOTFBold';
}

.MBTI-RecommendByOne>p {
    color: #00FFFF;
    font-size: 30px;
    text-align: center;
    position: relative;
    font-weight: 900;
    font-family: 'MaplestoryOTFBold';
}

.MBTI-RecommendByOne>a>img {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
    object-fit: cover;
    margin: 0 auto;
    position: relative;
    font-family: 'MaplestoryOTFBold';

}


@media screen and (max-width: 800px) {

   
    
    .MBTI-Underline {
        border-bottom: 2px groove black;
        width: 550px;
        margin: 0 auto;
        border-color: rgba(0, 0, 0, 0.2);
    
    }
    .MBTI-Recommend {
        display: flex;
        width: 600px;
        margin: 40px auto 0;
        font-family: 'MaplestoryOTFBold';
    }
    .MBTI-StyledButton {
        background: black;
        color: white;
        padding: 0.5rem;
        width: 500px;
        border-radius: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
        background-color: skyblue;
        border-color: skyblue;
        transition: all .2s ea se-in-out;
        font-weight: 900;
        position: relative;
        margin: 20px auto 0;
        left: 50px;
        bottom: 20px;
        font-family: 'MaplestoryOTFBold';
    
    }
    
}
@media screen and (max-width: 600px) {

    .MBTI-StyledButton {
        background: black;
        color: white;
        padding: 0.5rem;
        width: 400px;
        border-radius: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
        background-color: skyblue;
        border-color: skyblue;
        transition: all .2s ea se-in-out;
        font-weight: 900;
        position: relative;
        margin: 20px auto 0;
        left:65px;
        bottom: 20px;
        font-family: 'MaplestoryOTFBold';
    
    }
   
    .MBTI-Mbtiment2 {
        text-align: center;
        color: red;
        font-size: 13px;
    }
    
    .MBTI-Underline {
        border-bottom: 2px groove black;
        width: 490px;
        margin: 0 auto;
        border-color: rgba(0, 0, 0, 0.2);
    
    }
    
    .MBTI-Recommend {
        display: flex;
        width: 530px;
        margin: 40px auto 0;
        font-family: 'MaplestoryOTFBold';
    }
    
    .MBTI-RecommendByOne {
        height: 170px;
        width: 170px;
        border-radius: 15px;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row: 2/3;
        /* background-color: #6633FF; */
        position: relative;
        padding: 20px;
        font-family: 'MaplestoryOTFBold';
    }
    
    .MBTI-RecommendByOne>p {
        color: #00FFFF;
        font-size: 30px;
        text-align: center;
        position: relative;
        font-weight: 900;
        font-family: 'MaplestoryOTFBold';
    }
    
    .MBTI-RecommendByOne>a>img {
        width: 100px;
        height: 100px;
        border-radius: 70%;
        overflow: hidden;
        object-fit: cover;
        margin: 0 auto;
        position: relative;
        font-family: 'MaplestoryOTFBold';
    
    }
}
@media screen and (max-width: 530px) {
    .MBTI-StyledButton {
        background: black;
        color: white;
        padding: 0.5rem;
        width: 400px;
        border-radius: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
        background-color: skyblue;
        border-color: skyblue;
        transition: all .2s ea se-in-out;
        font-weight: 900;
        position: relative;
        margin: 20px auto 0;
        left:26px;
        bottom: 20px;
        font-family: 'MaplestoryOTFBold';
    
    }
    
    .MBTI-Underline {
        width: 380px;
    
    }
    .MBTI-Recommend {
        display: flex;
        width: 450px;
        margin: 40px auto 0;
        font-family: 'MaplestoryOTFBold';
    }
    
}
@media screen and (max-width: 450px) {
    .MBTI-StyledButton {
        background: black;
        color: white;
        padding: 0.5rem;
        width: 360px;
        border-radius: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
        background-color: skyblue;
        border-color: skyblue;
        transition: all .2s ea se-in-out;
        font-weight: 900;
        position: relative;
        margin: 20px auto 0;
        left:0px;
        bottom: 20px;
        font-family: 'MaplestoryOTFBold';
    
    }

    .MBTI-StyledButton span{
        position: relative;
        bottom:5px;
    }
    .MBTI-MyMbti {
        height: 200px;
        width: 360px;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 1/2;
        margin: 0 auto 30px;
        background-color: #29335c;
        font-family: 'MaplestoryOTFBold';
    
    
    }
   
    .MBTI-Mbtiment2 {
        text-align: center;
        color: red;
        font-size: 13px;
    }
    
    .MBTI-Underline {
        border-bottom: 2px groove black;
        width: 350px;
        margin: 0 auto;
        border-color: rgba(0, 0, 0, 0.2);
    
    }
    
    .MBTI-Recommend {
        display: flex;
        width: 350px;
        margin: 40px auto 0;
        font-family: 'MaplestoryOTFBold';
    }
    
    .MBTI-RecommendByOne {
        height: 170px;
        width: 170px;
        border-radius: 15px;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row: 2/3;
        /* background-color: #6633FF; */
        position: relative;
        padding: 20px;
        font-family: 'MaplestoryOTFBold';
    }
    
    .MBTI-RecommendByOne>p {
        color: #00FFFF;
        font-size: 30px;
        text-align: center;
        position: relative;
        font-weight: 900;
        font-family: 'MaplestoryOTFBold';
    }
    
    .MBTI-RecommendByOne>a>img {
        width: 100px;
        height: 100px;
        border-radius: 70%;
        overflow: hidden;
        object-fit: cover;
        margin: 0 auto;
        position: relative;
        font-family: 'MaplestoryOTFBold';
    
    }
}